* {
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: medium;
}

a {
    text-decoration: none;
    color: unset;
}

/* li {
    display: inline !important;
} */

p {
    color: #555;
}

/* GLOBAL */

:root {
    --primary-color: radial-gradient(#fff, #ffd6d6);
    --secondary-color: #1a1a1a;
    --third-color: #088178;
    --forth-color: #ff523b;
    --fifth-color: linear-gradient(#ff523b, #ff523b);
}

.btn {
    text-align: center;
    vertical-align: middle;
    line-height: 1.5;
    font-weight: 400;
    font-size: 1rem;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.row2 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-2 {
    flex: 0 0 50%;
    max-width: 50%;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.column {
    flex: 1;
}

.p-4 {
    padding: 1.5rem;
}

/* END GLOBAL */

/* NAVBAR */
#navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%;
    background: white;
    box-shadow: 0 15 25px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a:active {
    color: var(--forth-color);
}

#navbar li a::after {
    content: "";
    width: 0px;
    height: 2px;
    background: var(--forth-color);
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: all 0.5s;
}

#navbar li a:active::after,
#navbar li a:hover::after {
    content: "";
    width: 50%;
    height: 2px;
    background: var(--fifth-color);
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: all 0.5s;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

@media (max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: var(--primary-color);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: var(--secondary-color);
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: var(--secondary-color);
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }
}

#icon {
    width: 30px;
    cursor: pointer;
}

/* header */
.header {
    background: var(--primary-color);
}

.header row {
    margin-top: 70px;
}

/* container */
.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* font */
.title {
    text-align: center;
    font-size: 30px;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

/* logo */
.logo {
    width: 100px;
    width: 30%;
    height: 20%;
    margin: auto 0px;
}

/* END NAVBAR */

/* PRODUCTS CART */
.products-container {
    margin-top: 3rem;
    max-width: 65%;
    margin-left: 22rem;
    padding: 3rem;
    box-shadow: 0px 0px 20px 0px rgba(28, 28, 28, 1);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(28, 28, 28, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(28, 28, 28, 1);
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
}

div.products-table {
    width: 100%;
    border-collapse: collapse;
}

.divTable.products-table .divTableCell,
.divTable.products-table .divTableHead {
    padding: 5px 10px;
}

.divTable.products-table .divTableHeading {
    background: #eee;
}

.divTable.products-table .divTableHeading .divTableHead {
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

.divTable {
    display: table;
}

.divTableRow {
    display: table-row;
}

.divTableHeading {
    display: table-header-group;
}

.divTableCell,
.divTableHead {
    display: table-cell;
}

.divTableHeading {
    display: table-header-group;
}

.divTableFoot {
    display: table-footer-group;
}

.divTableBody {
    display: table-row-group;
    margin-top: 3rem;
}

.product {
    width: 65%;
    display: flex;
}

.size {
    width: 15%;
}

.price {
    width: 15%;
}

.quantity {
    width: 15%;
}

.total-price {
    width: 15%;
}

.product-name {
    margin-left: 1rem;
}

/* END PRODUCTS CART */

/* CHECKOUT */
.checkout-container {
    margin-top: 5rem;
    max-width: 65%;
    margin-left: 22rem;
    padding: 3rem;
    box-shadow: 0px 0px 10px 0px rgba(28, 28, 28, 1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(28, 28, 28, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(28, 28, 28, 1);
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-column-gap: 1rem;
    grid-row-gap: 0px;
}

.checkout-col-1 {
    grid-area: 1 / 1 / 2 / 2;
}

.checkout-col-2 {
    grid-area: 1 / 2 / 2 / 3;
}

.checkout-header {
    background-color: #dddddd;
    border-radius: 50rem;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
}

.coupon-text {
    margin-bottom: 1rem;
    font-style: italic;
}

.coupon-input {
    position: relative;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 50rem;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
}

.coupon-input > input {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border: 0;
}

.coupon-input > div {
    border: 0;
    margin-right: 1px;
    display: flex;
}

.coupon-input > div > .btn {
    border-radius: 50rem;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 2;
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.info-text {
    font-style: italic;
    margin-bottom: 1.5rem;
}

.info-textarea {
    width: 100%;
    height: auto;
    overflow: auto;
    resize: vertical;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
}

.summary-text {
    font-style: italic;
    margin-bottom: 1.5rem;
}

.summary-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.summary-list-child {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.btn-checkout {
    border-radius: 50rem;
    padding: 0.75rem 0.5rem;
    margin-bottom: 0;
    margin-left: -1px;
    z-index: 2;
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
    display: block;
    width: 100%;
}

/* END CHECKOUT */

/* FOOTER */
.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
    margin-top: 75px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

/* END FOOTER */